[submodule "http-request-smuggling"]
	path = http-request-smuggling
	url = https://github.com/anshumanpattnaik/http-request-smuggling
[submodule "LinkFinder"]
	path = LinkFinder
	url = https://github.com/GerbenJavado/LinkFinder

